<header class="main-header">
    <a href="#" class="logo">
        <!-- LOGO -->
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>LT</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin</b>LTE</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                @*<li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">你有1条消息</font></font></li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <!-- start message -->
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="~/Content/AdminLTE/img/user2-160x160.jpg" class="img-circle" alt="用户图片">
                                        </div>
                                        <h4>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    支持团队
                                                </font>
                                            </font><small><i class="fa fa-clock-o"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 5分钟</font></font></small>
                                        </h4>
                                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">为什么不购买一个新的真棒主题？</font></font></p>
                                    </a>
                                </li>
                                <!-- end message -->
                            </ul>
                        </li>
                        <li class="footer"><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">查看所有消息</font></font></a></li>
                    </ul>
                </li>*@
                <!-- Notifications: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell-o"></i>
                        <span class="label label-warning"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">你有1个通知</font></font></li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-users text-aqua"></i><font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                今天有5位新成员加入
                                            </font>
                                        </font>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">查看全部</font></font></a></li>
                    </ul>
                </li>
                <!-- Tasks: style can be found in dropdown.less -->
                @*<li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-flag-o"></i>
                        <span class="label label-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">你有1个任务</font></font></li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <!-- Task item -->
                                    <a href="#">
                                        <h3>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    设计一些按钮
                                                </font>
                                            </font><small class="pull-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20％</font></font></small>
                                        </h3>
                                        <div class="progress xs">
                                            <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20％完成</font></font></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">查看所有任务</font></font></a>
                        </li>
                    </ul>
                </li>*@
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Content/AdminLTE/img/user2-160x160.jpg" class="user-image" alt="user image">
                        <span class="hidden-xs"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">亚历山大皮尔斯</font></font></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="~/Content/AdminLTE/img/user2-160x160.jpg" class="img-circle" alt="用户图片">

                            <p>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Alexander Pierce  -
                                    </font><small><font style="vertical-align: inherit;">自2012年11月起</font></small><font style="vertical-align: inherit;">
                                        开发的Web开发人员
                                    </font>
                                </font><small><font style="vertical-align: inherit;"></font></small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">关注</font></font></a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">销售</font></font></a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">友</font></font></a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">轮廓</font></font></a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">登出</font></font></a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
