<!--图标列表-->
<div class="container-fluid">
    <!--目录常用图标-->
    <i class="fa fa-home" data-icon="fa fa-home"></i>
    <i class="fa fa-truck" data-icon="fa fa-truck"></i>
    <i class="fa fa-user" data-icon="fa fa-user"></i>
    <i class="fa fa-male" data-icon="fa fa-male"></i>
    <i class="fa fa-cube" data-icon="fa fa-cube"></i>
    <i class="fa fa-group" data-icon="fa fa-group"></i>
    <i class="fa fa-puzzle-piece" data-icon="fa fa-puzzle-piece"></i>
    <i class="fa fa-shopping-cart" data-icon="fa fa-shopping-cart"></i>
    <i class="fa fa-opencart" data-icon="fa fa-opencart"></i>
    <i class="fa fa-book" data-icon="fa fa-book"></i>
    <i class="fa fa-television" data-icon="fa fa-television"></i>
    <i class="fa fa-desktop" data-icon="fa fa-desktop"></i>
    <i class="fa fa-bar-chart-o" data-icon="fa fa-bar-chart-o"></i>
    <i class="fa fa-industry" data-icon="fa fa-industry"></i>
    <i class="fa fa-line-chart" data-icon="fa fa-line-chart"></i>
    <i class="fa fa-fax" data-icon="fa fa-fax"></i>
    <i class="fa fa-rmb" data-icon="fa fa-rmb"></i>
    <i class="fa fa-heartbeat" data-icon="fa fa-heartbeat"></i>
    <i class="fa fa-tasks" data-icon="fa fa-tasks"></i>
    <i class="fa fa-tachometer" data-icon="fa fa-tachometer"></i>
    <i class="fa fa-cogs" data-icon="fa fa-cogs"></i>
    <i class="fa fa-cog" data-icon="fa fa-cog"></i>
    <i class="fa fa-table" data-icon="fa fa-table"></i>
    <i class="fa fa-gift" data-icon="fa fa-gift"></i>
    <i class="fa fa-cloud" data-icon="fa fa-cloud"></i>
    <i class="fa fa-comments-o" data-icon="fa fa-comments-o"></i>
    <i class="fa  fa-sitemap" data-icon="fa fa-sitemap"></i>
    <i class="fa fa-suitcase" data-icon="fa fa-suitcase"></i>
    <i class="fa fa-refresh" data-icon="fa fa-refresh"></i>
    <i class="fa fa-scissors" data-icon="fa fa-scissors"></i>
    <i class="fa fa-link" data-icon="fa fa-link"></i>
    <i class="fa fa-save" data-icon="fa fa-save"></i>
    <i class="fa fa-arrows-alt" data-icon="fa fa-arrows-alt"></i>
    <i class="fa fa-map-marker" data-icon="fa fa-map-marker"></i>
    <i class="fa fa-yen" data-icon="fa fa-yen"></i>
    <i class="fa fa-file-text-o" data-icon="fa fa-file-text-o"></i>
    <i class="fa fa-flag" data-icon="fa fa-flag"></i>
    <i class="fa fa-align-justify" data-icon="fa fa-align-justify"></i>
    <i class="fa fa-file-o" data-icon="fa fa-file-o"></i>
    <i class="fa fa-files-o" data-icon="fa fa-files-o"></i>
    <i class="fa fa-circle-o" data-icon="fa fa-circle-o"></i>   
    <i class="fa fa-mobile-phone" data-icon="fa fa-mobile-phone"></i>
    <i class="fa fa-building-o" data-icon="fa fa-building-o"></i>

    <i class="fa fa-close" data-icon="fa fa-close"></i>
    <i class="fa fa-check" data-icon="fa fa-check"></i>
    <!--按钮常用图标-->
    <i class="glyphicon glyphicon-plus" data-icon="glyphicon glyphicon-plus"></i>
    <i class="glyphicon glyphicon-th-list" data-icon="glyphicon glyphicon-th-list"></i>
    <i class="glyphicon glyphicon-trash" data-icon="glyphicon glyphicon-trash"></i>
    <i class="fa fa-edit" data-icon="fa fa-edit"></i>
    <i class="fa fa-check-circle-o" data-icon="fa fa-check-circle-o"></i>
    <i class="fa fa-key" data-icon="fa fa-key"></i>
    <i class="fa fa-lock" data-icon="fa fa-lock"></i>
    <i class="fa fa-search" data-icon="fa fa-search"></i>
    <i class="fa fa-cloud-download" data-icon="fa fa-cloud-download"></i>
    <i class="fa fa-cloud-upload" data-icon="fa fa-cloud-upload"></i>
    <i class="fa fa-power-off" data-icon="fa fa-power-off"></i>
    <i class="fa fa-upload" data-icon="fa fa-upload"></i>
    <i class="fa fa-download" data-icon="fa fa-download"></i>


    <!--清除图标-->
    <button type="button" class="btn btn-default btn-xs" id="btnClearIcon">清空图标</button>
</div>

